{
  "env": {
    "esm": {
      "presets": [
        ["es2015", {"modules": false}],
        "flow"
      ]
    },
    "umd": {
      "presets": [
        ["es2015", {"modules": "umd"}],
        "flow"
      ]
    }
  }
}
